body {
margin: 0 auto;
background-color: lightyellow;
text-align: center;
}
   
#website {
width: 1200px;
margin: 0 auto;
}

#dekolinks {
float:left;
width: 300px;
height: auto;
}

#header {
width: auto;
background-color: #FF6347;
height: 100px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
-o-border-radius: 50px;
border-radius: 50px;
}

#header h1{
padding-top:50px;
font-family: Ubuntu, sans-serif;
color: black;
margin: 0;
}

#menue {
float:left;
background-color: #FFFACD;
width:200px;
height: auto;
margin-left: 20px;
margin-top:10px;
margin-bottom: 10px;
}

#inhalt {
float:right;
background-color: #FFEC8B;
width:680px;
height: auto;
margin-top:10px;
margin-bottom: 10px;
}

#ueberschrift {
padding-top:50px;
font-family: Ubuntu, sans-serif;
color: #8B6914;
margin: 0;
}

#fliesstext {
font-family: Ubuntu, sans-serif;
color: #8B7E66;
margin: 0;
text-align: left;
margin-left: 5px;
    
}

#fusszeile {
background-color: #FFEC8B;
width:auto;
height: auto;
clear:both;
margin-top:10px;
margin-bottom: 10px;
}
